@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 30% 98%;
    --foreground: 210 30% 10%;
    --card: 210 30% 95%;
    --card-foreground: 210 30% 10%;
    --popover: 210 30% 98%;
    --popover-foreground: 210 30% 10%;
    --primary: 145 60% 50%;
    --primary-foreground: 210 30% 98%;
    --secondary: 20 80% 60%;
    --secondary-foreground: 210 30% 10%;
    --muted: 210 30% 90%;
    --muted-foreground: 210 30% 20%;
    --accent: 50 90% 50%;
    --accent-foreground: 210 30% 10%;
    --destructive: 0 90% 60%;
    --destructive-foreground: 210 30% 10%;
    --border: 210 30% 90%;
    --input: 210 30% 95%;
    --ring: 145 60% 25%;
    --chart-1: 145 60% 70%;
    --chart-2: 20 80% 70%;
    --chart-3: 50 90% 60%;
    --chart-4: 240 60% 70%;
    --chart-5: 0 75% 70%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 30% 10%;
    --foreground: 210 30% 95%;
    --card: 210 30% 15%;
    --card-foreground: 210 30% 95%;
    --popover: 210 30% 10%;
    --popover-foreground: 210 30% 95%;
    --primary: 145 60% 40%;
    --primary-foreground: 210 30% 10%;
    --secondary: 20 80% 50%;
    --secondary-foreground: 210 30% 95%;
    --muted: 210 30% 15%;
    --muted-foreground: 210 30% 95%;
    --accent: 50 90% 40%;
    --accent-foreground: 210 30% 95%;
    --destructive: 0 90% 50%;
    --destructive-foreground: 210 30% 95%;
    --border: 210 30% 15%;
    --input: 210 30% 10%;
    --ring: 145 60% 75%;
    --chart-1: 145 60% 50%;
    --chart-2: 20 80% 60%;
    --chart-3: 50 90% 50%;
    --chart-4: 240 60% 50%;
    --chart-5: 0 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
